<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.rezkyauliapratama.dicodingmade">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name="id.rezkyauliapratama.dicodingmade.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <receiver android:name=".widget.FavoritesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/favorites_widget_info" />
        </receiver>

        <activity android:name="id.rezkyauliapratama.dicodingmade.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".widget.StackWidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
                android:name=".service.AlarmBroadCastReceiver"
                android:directBootAware="true"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
                android:name=".service.AlarmService"
                android:enabled="true"
                android:exported="false"
                android:process=":remote" />
    </application>

</manifest>